[submodule "HistFitter"]
	path = HistFitter
	url = https://gitlab.cern.ch/HistFitter/HistFitter.git
[submodule "jb_utils"]
	path = jb_utils
	url = https://gitlab.cern.ch/jburr/jb_utils.git
	branch = master

[submodule "livana-ci-web-deployer"]
	path = livana-ci-web-deployer
	url = https://gitlab.cern.ch/hteagle/livana-ci-web-deployer.git
