[submodule "livana-ci-web-deployer"]
	path = livana-ci-web-deployer
	url = https://gitlab.cern.ch/hteagle/livana-ci-web-deployer.git

[submodule "PyAnalysisUtils"]
	path = PyAnalysisUtils
	url = https://gitlab.cern.ch/Shef-Analysis/PyAnalysisUtils.git
	branch = HamishDev